<div class="container contenido animated fadeIn" ng-controller="userCtrl">
	<div class="row">
		<div class="col s12">
			<div class="row">
				<div class="col offset-m1 m4 hide-on-small-only ">
					
  						<img src="material/img/login2.jpg" class="responsive-img" alt="">
					
				</div>
				<div class="col s12 m6">

					<!-- Sign up -->
					<div class="card-panel login">
						<center>
							<img src="material/img/login.jpg" class="logo responsive-img center" style="width: 150px" alt="">
						</center>
						<div class="row">
							<form ng-submit="create();">
				        		<!-- nombre completo -->
				        		<div class="input-field col s10 offset-s1">
				        			<i class="material-icons prefix">account_circle</i>
				         			 <input  id="nombre" type="text" class="validate" ng-model="name">
				          			<label for="nombre">Nombre</label>
				        		</div>
				        		<!-- nombre usuario -->
				        		<div class="input-field col s10 offset-s1">
				        			<i class="material-icons prefix">account_circle</i>
				         			 <input  id="apellido" type="text" class="validate" ng-model="last_name">
				          				<label for="apellido">Apellido</label>
				        		</div>
				        		<!-- Celular -->
				        		<div class="input-field col s10 offset-s1">
				        			<i class="material-icons prefix">phonelink_ring</i>
				         			 <input  id="apellido" type="number" class="validate" ng-model="cell">
				          				<label for="apellido">Celular</label>
				        		</div>
				        		<!-- email -->
				        		<div class="input-field col s10 offset-s1">
				        			<i class="material-icons prefix">email</i>
				         			 <input  id="email" type="email" class="validate" ng-model="email">
				          			<label for="email">Correo</label>
				        		</div>	
				        		<!-- password -->
				        		<div class="input-field col s10  offset-s1">
				        			<i class="material-icons prefix">lock</i>
				         			 <input  id="password" type="password" class="validate" ng-model="password">
				          			<label for="password">Contraseña</label>
				        		</div>
								<div ng-show="mensaje" class="row">
									<div class="col s12 card-panel teal lighten-1">
										{{mensaje}}
									</div>
								</div>
								<center>
									<button type="submit" class="btn center waves-effect waves-light blue">Registrar</button>
								</center>
							</form>
						</div>
						<!--<p class="center-align"> <span class="azul">Tienes una cuenta?</span> <a ng-href="/bolsa-de-trabajo/ingresar" >Entra</a></p>-->
					</div>


				</div>
			</div>
		</div>

		
	</div>
</div>