<ol class="breadcrumb animated fadeIn fast">
    <li><a ng-href="/tribunal"><i class="fa fa-dashboard"></i> Principal</a></li>
</ol>


<!-- Venta Modal Cumpleaños -->
<div class="modal fade" id="cumple" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      



		<div class="row">
			<div class="col-md-12">
		      <!-- Horizontal Form -->
		      <div class="box box-info">
		        <div class="box-header with-border">
		          <h3 class="box-title">Felicitar Cumpleaños</h3>
		        </div>
		        <!-- /.box-header -->
		        <!-- form start -->
		        <form class="form-horizontal">
		          <div class="box-body">
					<div class="form-group">
						<label class="col-sm-2 control-label">Cumpleañeros</label>
						<div class="col-sm-10">
							<select class="form-control">
							  <option>Esta semana</option>
							  <option>Hace un mes</option>
							  <option>Este Mes</option>
							</select>
						</div>
					</div>

					<div class="">
						<table class="table responsive-table">
					        <thead>
					          <tr>
					              <th>Marcar</th>
					              <th>Cumpleañero</th>
					              <th>Fecha</th>
					              <th>Juzgado</th>
					              <th>Cargo</th>
					          </tr>
					        </thead>

					        <tbody class="table-hover">
					          <tr>
					            <td>
					            	<div class="checkbox">
					                  <label>
					                    <input type="checkbox">
					                  </label>
					                </div>
					            </td>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					          <tr>
					            <td>
					            	<div class="checkbox">
					                  <label>
					                    <input type="checkbox">
					                  </label>
					                </div>
					            </td>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					          <tr>
					            <td>
					            	<div class="checkbox">
					                  <label>
					                    <input type="checkbox">
					                  </label>
					                </div>
					            </td>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					          <tr>
					            <td>
					            	<div class="checkbox">
					                  <label>
					                    <input type="checkbox">
					                  </label>
					                </div>
					            </td>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					        </tbody>
					    </table>
					</div>

					<div class="form-group">
						<div class="col-sm-2 control-label">
							<h4>Para: </h4>
						</div>
					</div>
		            <div class="form-group">
		              <label class="col-sm-2 control-label">Felicitaciones:</label>

		              <div class="col-sm-12">
		                <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
		              </div>
		            </div>
		          </div>
		          <!-- /.box-body -->
		          <div class="box-footer">
		            <button type="submit" class="btn btn-default pull-right">Cancelar</button>
		            <button type="submit" class="btn btn-primary pull-right">Guardar</button>
		          </div>
		          <!-- /.box-footer -->
		          <div class="">
						<table class="table responsive-table">
					        <thead>
					          <tr>
					              <th>Cumpleañero</th>
					              <th>Fecha</th>
					              <th>Juzgado</th>
					              <th>Cargo</th>
					          </tr>
					        </thead>

					        <tbody class="table-hover">
					          <tr>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					          <tr>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					          <tr>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					          <tr>
					            <td>Eclair</td>
					            <td>05/05/2017</td>
					            <td>J.A. Cotagaita</td>
					            <td>Secretario</td>
					          </tr>
					        </tbody>
					    </table>
					</div>
		        </form>
		      </div>
		      <!-- /.box -->

		    </div>
		</div>


    </div>
    <div class="modal-footer">
      <button type="button" cl	ass="btn btn-default" data-dismiss="modal">Cerrar </button>
    </div>
  </div>
</div>
</div>

<!-- Fin Venta Modal Cumpleaños -->


<div class="row">
	<div class="col-md-12">
		<div class="box box-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-aqua-active">
			  <h3 class="widget-user-username">Alexander Pierce</h3>
			  <h5 class="widget-user-desc">Founder &amp; CEO</h5>
			</div>
			<div class="widget-user-image">
			  <img class="img-circle" src="app/img/avatarM.png" alt="User Avatar">
			</div>
			<div class="box-footer">
			  <div class="row">
			    <div class="col-sm-4 border-right">
			      <div class="description-block">
			        <h5 class="description-header">3,200</h5>
			        <span class="description-text">SALES</span>
			      </div>
			      <!-- /.description-block -->
			    </div>
			    <!-- /.col -->
			    <div class="col-sm-4 border-right">
			      <div class="description-block">
			        <h5 class="description-header">13,000</h5>
			        <span class="description-text">FOLLOWERS</span>
			      </div>
			      <!-- /.description-block -->
			    </div>
			    <!-- /.col -->
			    <div class="col-sm-4">
			      <div class="description-block">
			        <h5 class="description-header">35</h5>
			        <span class="description-text">PRODUCTS</span>
			      </div>
			      <!-- /.description-block -->
			    </div>
			    <!-- /.col -->
			  </div>
			  <!-- /.row -->
			</div>
		</div>
		
	</div>
	<div class="col-md-6">
		<div class="box box-widget">
			<div class="box-header with-border">
			  <div class="user-block">
			    <img class="img-circle" src="app/img/avatarM.png" alt="User Image">
			    <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
			    <span class="description">Shared publicly - 7:30 PM Today</span>
			  </div>
			  <!-- /.user-block -->
			  <div class="box-tools">
			    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
			      <i class="fa fa-circle-o"></i></button>
			    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			    </button>
			    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			  </div>
			  <!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body">
			  <img class="img-responsive pad" src="app/img/pub.jpg" alt="Photo">

			  <p>I took this photo this morning. What do you guys think?</p>
			  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
			  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
			  <span class="pull-right text-muted">127 likes - 3 comments</span>
			</div>
			<!-- /.box-body -->
			<div class="box-footer box-comments">
			  <div class="box-comment">
			    <!-- User image -->
			    <img class="img-circle img-sm" src="app/img/avatarF.png" alt="User Image">

			    <div class="comment-text">
			          <span class="username">
			            Maria Gonzales
			            <span class="text-muted pull-right">8:03 PM Today</span>
			          </span><!-- /.username -->
			      It is a long established fact that a reader will be distracted
			      by the readable content of a page when looking at its layout.
			    </div>
			    <!-- /.comment-text -->
			  </div>
			  <!-- /.box-comment -->
			  <div class="box-comment">
			    <!-- User image -->
			    <img class="img-circle img-sm" src="app/img/avatarF.png" alt="User Image">

			    <div class="comment-text">
			          <span class="username">
			            Luna Stark
			            <span class="text-muted pull-right">8:03 PM Today</span>
			          </span><!-- /.username -->
			      It is a long established fact that a reader will be distracted
			      by the readable content of a page when looking at its layout.
			    </div>
			    <!-- /.comment-text -->
			  </div>
			  <!-- /.box-comment -->
			</div>
			<!-- /.box-footer -->
			<div class="box-footer">
			  <form action="#" method="post">
			    <img class="img-responsive img-circle img-sm" src="app/img/avatarF.png" alt="Alt Text">
			    <!-- .img-push is used to add margin to elements next to floating images -->
			    <div class="img-push">
			      <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
			    </div>
			  </form>
			</div>
			<!-- /.box-footer -->
		</div>
		
	</div>
	<div class="col-md-6">
		<div class="box box-widget">
			<div class="box-header with-border">
			  <div class="user-block">
			    <img class="img-circle" src="app/img/avatarM.png" alt="User Image">
			    <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
			    <span class="description">Shared publicly - 7:30 PM Today</span>
			  </div>
			  <!-- /.user-block -->
			  <div class="box-tools">
			    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
			      <i class="fa fa-circle-o"></i></button>
			    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
			    </button>
			    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
			  </div>
			  <!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body">
			  <img class="img-responsive pad" src="app/img/pub.jpg" alt="Photo">

			  <p>I took this photo this morning. What do you guys think?</p>
			  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
			  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
			  <span class="pull-right text-muted">127 likes - 3 comments</span>
			</div>
			<!-- /.box-body -->
			<div class="box-footer box-comments">
			  <div class="box-comment">
			    <!-- User image -->
			    <img class="img-circle img-sm" src="app/img/avatarF.png" alt="User Image">

			    <div class="comment-text">
			          <span class="username">
			            Maria Gonzales
			            <span class="text-muted pull-right">8:03 PM Today</span>
			          </span><!-- /.username -->
			      It is a long established fact that a reader will be distracted
			      by the readable content of a page when looking at its layout.
			    </div>
			    <!-- /.comment-text -->
			  </div>
			  <!-- /.box-comment -->
			  <div class="box-comment">
			    <!-- User image -->
			    <img class="img-circle img-sm" src="app/img/avatarF.png" alt="User Image">

			    <div class="comment-text">
			          <span class="username">
			            Luna Stark
			            <span class="text-muted pull-right">8:03 PM Today</span>
			          </span><!-- /.username -->
			      It is a long established fact that a reader will be distracted
			      by the readable content of a page when looking at its layout.
			    </div>
			    <!-- /.comment-text -->
			  </div>
			  <!-- /.box-comment -->
			</div>
			<!-- /.box-footer -->
			<div class="box-footer">
			  <form action="#" method="post">
			    <img class="img-responsive img-circle img-sm" src="app/img/avatarF.png" alt="Alt Text">
			    <!-- .img-push is used to add margin to elements next to floating images -->
			    <div class="img-push">
			      <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
			    </div>
			  </form>
			</div>
			<!-- /.box-footer -->
		</div>
	</div>
</div>


