
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!-- Sidebar user panel (optional) -->
  <div class="user-panel">
    <div class="pull-left image">
      <img ng-show=" (mainUser.src == null || mainUser.src == '') && mainUser.sex == 'Masculino' " src="app/img/avatarM.png" class="img-circle profile-heigth" alt="User Image">
      <img ng-show=" (mainUser.src == null || mainUser.src == '') && mainUser.sex == 'Femenino' " src="app/img/avatarF.png" class="img-circle profile-heigth" alt="User Image">
      <img ng-hide=" (mainUser.src == null || mainUser.src == '') " src="app/photos/{{mainUser.src}}" class="img-circle profile-heigth" alt="User Image">
    </div>
    <div class="pull-left info">
      <p>{{mainUser.name | palabra}} {{mainUser.last_name | palabra}} </p>
      <!-- Status -->
      <a href=""><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li class="header animated fadeInUp fast">Opciones</li>
    <!-- Optionally, you can add icons to the links -->
    <li ng-class="mPrincipal" class="animated fadeInUp fast"><a ng-href="/tribunal"><i class="fa fa-dashboard"></i> <span>Principal</span></a></li>

    <li ng-class="mAvisos" class="treeview animated fadeInUp fast">
      <a href="">
        <i class="fa fa-dashboard"></i> <span>Avisos</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu menu-open" style="display: block;">
        <li ng-class="mInstructivo"><a ng-href="/tribunal/instructivos"><i class="fa fa-table"></i> Instructivos </a></li>
        <li ng-class="mCircular"><a ng-href="/tribunal/circulares"><i class="fa fa-table"></i> Circulares </a></li>
        <li ng-class="mComunicado"><a ng-href="/tribunal/comunicados"><i class="fa fa-table"></i> Comunicados </a></li>
      </ul>
    </li>

    <li ng-class="mReglamento" class="animated fadeInUp fast"><a ng-href="/tribunal/reglamentos"><i class="fa fa-book"></i> <span>Reglamentos</span></a></li>

    <li ng-class="mNormativa" class="animated fadeInUp fast"><a ng-href="/tribunal/normativas"><i class="fa fa-link"></i> <span>Normativas</span></a></li>

    <!--<li class="treeview">
      <a href=""><i class="fa fa-link"></i> <span>Multilevel</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="">Link in level 2</a></li>
        <li><a href="">Link in level 2</a></li>
      </ul>
    </li>-->
  </ul>
  <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->