<ol class="breadcrumb animated fadeIn fast">
    <li><a href="/tribunal"><i class="fa fa-dashboard"></i> Principal</a></li>
    <li class="active">Normativas</li>
</ol>
<!-- /.filtros -->
<div class="filtros">
<div class="busqueda linea b-largo">
  <label for="busqueda"><i class="fa fa-search mano" aria-hidden="true"></i></label>
  <input id="busqueda" type="text" placeholder="Busque aqui..." ng-model="busqueda">
</div>
</div>
<!-- /.Fin filtros -->

<div class="row" ng-init="find('normativas')">

	<div class="col-md-12">
	  <div class="box">
	    
	    <div class="box-header with-border">
	      <h3 class="box-title">Normativas</h3>
	
			<div class="box-tools hidden-xs">
	            <div class="input-group">
	              <a class="btn btn-primary"
	              	ng-click="mostrarModal('#modal_normativas',{})"><i class="fa fa-plus"></i> Agregar Normativa</a>
	            </div>
	        </div>

	    </div>
	    <!-- /.box-header -->
	    
	    <div class="box-body" ng-hide="load || !publication.pub.length">
	      
	      <table class="table table-bordered responsive-table">
			<thead>
				<tr>
					<th><a class="mano" ng-click="columna='id'; reverse = !reverse;">#</a></th>
					<th><a class="mano" ng-click="columna='title'; reverse = !reverse;">Title </a></th>
					<th><a class="mano" ng-click="columna='description'; reverse = !reverse;">Descripción </a></th>
					<th><a class="mano" ng-click="columna='destinatario'; reverse = !reverse;">Destinatario </a></th>
					<th><a class="mano" ng-click="columna='fec'; reverse = !reverse;">Publicado </a></th>
					<th><a class="mano" ng-click="columna='fec'; reverse = !reverse;">Hora </a></th>
					<th><a class="mano" ng-click="columna='ja_name'; reverse = !reverse;">Publicado por </a></th>
					<th>Descargar </th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="pub in publication.pub | filter:busqueda | orderBy:columna:reverse">
					<td>{{ pub.id }}</td>
					<td>{{ pub.title | reducirTexto }}</td>
					<td>{{ pub.description | reducirTexto }}</td>
					<td>{{ pub.destinatario }}</td>
					<td>{{ pub.fec | date:"longDate" }}</td>
					<td>{{ pub.fec | date:"shortTime" }}</td>
					<td>{{ pub.position }}</td>
					<td><a target="blank" ng-href="app/documents/{{pub.doc}}" class="btn btn-default"><i class="fa fa-download"></a></td>

					<td>
						<a ng-show="pub.userType == userTYPE" ng-click="mostrarModal( '#modal_normativas',pub )" class="btn btn-warning"><i class="fa fa-edit"></i></a>
					</td>
				</tr>
			</tbody>

	      </table>

	
		</div>
		<div class="box-body" ng-show="load">
			<div class="cargando">
				<i class="fa fa-spinner fa-pulse fa-2x fa-fw" aria-hidden="true"></i>
				Cargando...
			</div>
		</div>
		<div class="box-body" ng-show="!load && !publication.pub.length">
			<div class="cargando">
				Ingrese nuevos registros.
			</div>
		</div>

		<div class="box-footer clearfix" ng-show="publication.total_paginas > 1">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a class="mano" ng-click="moverA(1)">«</a></li>

			<li ng-repeat="pag in publication.paginas"
				ng-class="{
					'active': publication.pag_actual === pag
				}">
				<a class="mano" ng-click="moverA(pag)">{{ pag }}</a>
			</li>

            <li><a class="mano" ng-click="moverA( publication.total_paginas )" >»</a></li>
          </ul>
        </div>



		</div>
	</div>

</div>


<div class="btn-agregar visible-xs" ng-click="mostrarModal('#modal_normativas',{})"><i class="fa fa-paper-plane-o i-agregar" ></i></div>
<div ng-include="'public/publication/views/modal.normativas.view.html'"></div>

