<div class="modal fade" id="modal_user">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Usuario: </h4>
      </div>


      <form name="frmUser"
            ng-submit="guardar( userSel, frmUser )"
            novalidate="novalidate">

        <div class="modal-body">

          <div class="form-group">
            <label>CI</label>
            <input type="text" class="form-control" placeholder="CI"
                ng-model="userSel.ci" required>
          </div>

          <div class="form-group">
            <label>Expedido</label>
            <select type="text" class="form-control" placeholder="Expedido"
                ng-model="userSel.ex" required>
                <option value="" disabled selected>Expedido </option>
                <option value="Lp">La paz</option>
                <option value="Or">Oruro</option>
                <option value="Pt">Potosi</option>
                <option value="Cb">Cochabamba</option>
                <option value="Sc">Santa Cruz</option>
                <option value="Bn">Beni</option>
                <option value="Pa">Pando</option>
                <option value="Tj">Tarija</option>
                <option value="Ch">Chuquisaca</option>
            </select>
          </div>


          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre"
                ng-model="userSel.name" required>
          </div>

          <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido"
                ng-model="userSel.last_name" required>
          </div>

          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control"
                ng-model="userSel.fec_nac" min="{{edadMinima}}" max="{{edadMaxima}}" required>
          </div>

          <div class="form-group">
            <label>Sexo</label>
            <select type="text" class="form-control" placeholder="Sexo"
                ng-model="userSel.sex">
                <option value="" disabled selected>Sexo </option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
          </div>

          <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" placeholder="ejemplo@algo.algo"
                ng-model="userSel.email" required>
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="*****"
                ng-model="userSel.pwd">
          </div>

          <div class="form-group">
            <label>Celular</label>
            <input type="number" class="form-control" placeholder="757#####"
                ng-model="userSel.cellphone" required>
          </div>

          <div ng-hide="userSel.id || userTYPE != 'supad' ">
            <div class="form-group">
              <label>Nivel</label>
              <select type="text" class="form-control" placeholder="Nivel de usuario"
                  ng-model="userSel.type" required>
                  <option value="" disabled selected>Nivel de usuario </option>
                  <option value="user">Usuario</option>
                  <option value="adrp">Relaciones públicas</option>
                  <option value="adrh">Recursos humanos</option>
                  <option value="adsg">Secretaria General</option>
                  <option value="supad">Super Administrador</option>
              </select>
            </div>

            <div class="form-group">
              <input type="hidden" ng-model="userSel.id_person">
            </div>

            <div class="form-group">
              <label class="mano" ng-click="viewJA = !viewJA;">Juzgado Agroambiental</label> <span>Seleccionado ID: {{userSel.id_jagroambiental}} </span>
              <div class="animated fadeIn" ng-show="viewJA">
                <!-- /.filtros -->
                <div class="filtros">
                <div class="form-group busqueda linea b-largo">
                  <label for="busqueda"><i class="fa fa-search mano" aria-hidden="true"></i></label>
                  <input id="busqueda" type="text" placeholder="Busque aqui..." ng-model="jagroModel">
                </div>
                </div>
                <div class="form-group">
                  <input type="hidden" ng-model="userSel.id_jagroambiental">
                </div>
                <div class="form-group">
                  <input type="hidden" ng-model="userSel.cod_ja">
                </div>

                <table class="table table-bordered responsive-table">
                  <thead>
                    <tr>
                      <th><a class="mano" ng-click="coldep='id'; reversedep = !reversedep;">#</a></th>
                      <th><a class="mano" ng-click="coldep='name'; reversedep = !reversedep;">Juzgados</a></th>
                      <th>Seleccione uno</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="j in jabro | filter:jagroModel | orderBy:coldep:reversedep">
                      <td>{{ j.id }}</td>
                      <td>{{ j.name }}</td>
                      <td>
                        <a ng-click="viewJA = !viewJA; llenar_jagroambiental( userSel,j.id,j.cod_ja );" class="btn btn-primary"><i class="fa fa-hand-o-up"></i></a>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>

            <div class="form-group">
              <label>Departamento</label>
              <select type="text" class="form-control" placeholder="departamento"
                  ng-model="userSel.cod_dep" required>
                  <option value="" disabled selected>Departamento </option>
                  <option ng-repeat="dep in department" ng-value="dep.cod_dep">{{dep.name}} </option>
              </select>
            </div>
          </div>

        </div>



        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>

      </form>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
