<div class="modal fade" id="modal_user">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Usuario: </h4>
      </div>


      <form name="frmUser"
            ng-submit="guardar( userSel, frmUser )"
            novalidate="novalidate">

        <div class="modal-body">

          <div class="form-group">
            <label>CI</label>
            <input type="text" class="form-control" placeholder="CI"
                ng-model="userSel.ci" required>
          </div>

          <div class="form-group">
            <label>Expedido</label>
            <input type="text" class="form-control" placeholder="Expedido"
                ng-model="userSel.ex" required>
          </div>


          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre"
                ng-model="userSel.name" required>
          </div>

          <div class="form-group">
            <label>Apellido</label>
            <input type="text" class="form-control" placeholder="Apellido"
                ng-model="userSel.last_name" required>
          </div>

          <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control"
                ng-model="userSel.fec_nac" min="{{edadMinima}}" max="{{edadMaxima}}" required>
          </div>

          <div class="form-group">
            <label>Sexo</label>
            <select type="text" class="form-control" placeholder="Sexo"
                ng-model="userSel.sex">
                <option value="" disabled selected>Sexo </option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
          </div>

          <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" placeholder="ejemplo@algo.algo"
                ng-model="userSel.email" required>
          </div>

          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="*****"
                ng-model="userSel.pwd" required>
          </div>

          <div class="form-group">
            <label>Celular</label>
            <input type="number" class="form-control"
                ng-model="userSel.cellphone" required>
          </div>

          <div class="form-group">
            <label>Nivel</label>
            <select type="text" class="form-control" placeholder="Nivel de usuario"
                ng-model="userSel.type" required>
                <option value="" disabled selected>Nivel de usuario </option>
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
                <option value="supad">Super Administrador</option>
            </select>
          </div>

          <div class="form-group">
            <label class="mano" ng-click="viewJA = !viewJA;">Juzgado Agroambiental</label>
            <div class="animated fadeIn" ng-show="viewJA">
              <!-- /.filtros -->
              <div class="filtros">
              <div class="busqueda linea b-largo">
                <label for="busqueda"><i class="fa fa-search mano" aria-hidden="true"></i></label>
                <input id="busqueda" type="text" placeholder="Busque aqui..." ng-model="busqueda">
              </div>
              </div>
              <!-- /.Fin filtros -->
              <table class="table table-bordered responsive-table">
                <thead>
                  <tr>
                    <th><a class="mano" ng-click="columna='id'; reverse = !reverse;">#</a></th>
                    <th><a class="mano" ng-click="columna='name'; reverse = !reverse;">Nombre</a></th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in users.users | filter:busqueda | orderBy:columna:reverse">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>
                      <a ng-click="mostrarModal( user )" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>

          <div class="form-group">
            <label>Departamento</label>
            <select type="text" class="form-control" placeholder="departamento"
                ng-model="userSel.cod_dep" required>
                <option value="" disabled selected>Departamento </option>
                <option value="D-0001">Beni</option>
                <option value="D-0002">Chuquisaca</option>
                <option value="D-0003">Cochabamba</option>
                <option value="D-0004">La Paz</option>
                <option value="D-0005">Oruro</option>
                <option value="D-0006">Pando</option>
                <option value="D-0007">Potosí</option>
                <option value="D-0008">Santa Cruz</option>
                <option value="D-0009">Tarija</option>
            </select>
          </div>

        </div>



        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
        </div>

      </form>



    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
